
@{
    ViewBag.Title = "Chart";
}
<h2>Chart</h2>
@using System.Data;

@{ 
    var dataSet = new DataSet();
    dataSet.ReadXmlSchema(Server.MapPath("~/App_Data/Data.xsd"));
    dataSet.ReadXml(Server.MapPath("~/App_Data/data.xml"));

    var dataView = new DataView(dataSet.Tables[0]);


    var myChart=new Chart(width:600, height:400)
                    .AddTitle("Sale per Flowers")
                    .AddSeries("Default", chartType: "Bar",
                                xValue: dataView, xField: "Name",
                                yValues: dataView, yFields: "Sales")
                    .Write();


}
