
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h3>Online Shoppping Web Application</h3>
<hr />
<a href="/Account/login">Sign In</a> | 
<a href="/home/aboutus">About us</a>
<hr />
<ol>
    <li><a href="/customers/index">Customers</a></li>
    <li><a href="/products/index">Product Catalog</a></li>
    <li><a href="/home/services">Our Services</a></li>
    <li><a href="/home/support">Support</a></li>
</ol>